cryptsuites/1/standards/certificate.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:element name="certificate"><xs:complexType><xs:sequence>
        <xs:element name="base"><xs:complexType><xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="contact" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence></xs:complexType></xs:element>
    </xs:sequence></xs:complexType></xs:element>
</xs:schema>
